<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2024 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <record id="fermente_cooperative_directory.menu_root" model="ir.ui.menu">
        <field name="sequence">10</field>
    </record>

    <record id="point_of_sale.menu_point_root" model="ir.ui.menu">
        <field name="sequence">20</field>
    </record>

    <record id="product_usability.menu_product_main" model="ir.ui.menu">
        <field name="sequence">30</field>
    </record>

    <record id="mrp.menu_mrp_root" model="ir.ui.menu">
        <field name="sequence">40</field>
    </record>

    <record id="sale.sale_menu_root" model="ir.ui.menu">
        <field name="sequence">50</field>
    </record>

    <record id="stock.menu_stock_root" model="ir.ui.menu">
        <field name="sequence">60</field>
    </record>

    <record id="account.menu_finance" model="ir.ui.menu">
        <field name="sequence">70</field>
    </record>

    <record id="purchase.menu_purchase_root" model="ir.ui.menu">
        <field name="sequence">80</field>
    </record>

    <!-- TODO: Add Commandes groupées Menu here - 90 -->

    <!-- TODO: Add Application mobile Menu here - 100 -->

    <record id="contacts.menu_contacts" model="ir.ui.menu">
        <field name="sequence">110</field>
    </record>

    <record id="hr.menu_hr_root" model="ir.ui.menu">
        <field name="sequence">120</field>
    </record>

    <record id="hr_expense.menu_hr_expense_root" model="ir.ui.menu">
        <field name="sequence">130</field>
    </record>

    <record id="project.menu_main_pm" model="ir.ui.menu">
        <field name="sequence">140</field>
    </record>

    <record id="crm.crm_menu_root" model="ir.ui.menu">
        <field name="sequence">150</field>
    </record>

    <record id="spreadsheet_dashboard.spreadsheet_dashboard_menu_root" model="ir.ui.menu">
        <field name="sequence">200</field>
    </record>

    <record id="spreadsheet_oca.spreadsheet_spreadsheet_menu" model="ir.ui.menu">
        <field name="sequence">210</field>
    </record>

    <record id="calendar.mail_menu_calendar" model="ir.ui.menu">
        <field name="sequence">300</field>
    </record>

    <record id="mail.menu_root_discuss" model="ir.ui.menu">
        <field name="sequence">310</field>
    </record>

    <record id="queue_job.menu_queue_job_root" model="ir.ui.menu">
        <field name="sequence">320</field>
    </record>

    <record id="utm.menu_link_tracker_root" model="ir.ui.menu">
        <field name="sequence">330</field>
    </record>

    <record id="base.menu_management" model="ir.ui.menu">
        <field name="sequence">340</field>
    </record>

    <record id="base.menu_administration" model="ir.ui.menu">
        <field name="sequence">350</field>
    </record>


</odoo>
