<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2026 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <record model="ir.ui.menu" id="spreadsheet_dashboard.spreadsheet_dashboard_menu_configuration_dashboards">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_system')])]"/>
    </record>

</odoo>
