 .openerp .oe_leftbar{
    background-color:#AAFFAA;
}

body .oe_single_form{
    background-color:#AAFFAA;

}

/*.openerp .oe_view_manager_body{
    background-color:#AAFFAA;
}*/

/*.openerp .oe_form{
    background-color:#AAFFAA;
}*/
/*
.openerp .oe_view{
    background-color:#AAFFAA !important;
}
*/
/*


  oe_kanban_ungrouped*/
