div .pos-content {
    background-color:#FFAAAA !important;
}

div .leftpane {
    background-color:#FFAAAA !important;
}

div .order {
    background-color:#FFAAAA !important;
}
div .order-container {
    background-color:#FFAAAA !important;
}

div .screen {
    background-color:#FFAAAA !important;
}
