/* ****************************************************
Change input and spaces between objects in forms
**************************************************** */

.o_input:focus {
    border-bottom-color: #2e822e;
}

.o_form_view .o_horizontal_separator{
    margin: 0px;
}

.o_form_view .o_group{
    margin: 5px 0px; /* instead of 10px */
}

.o_form_view .o_notebook .tab-content > .tab-pane{
    padding: 0px; /* instead of $o-horizontal-padding */
}

/* ****************************************************
Change display of user image, in the menu
**************************************************** */

.o_main_navbar .o_user_menu .oe_topbar_avatar {
    height: 40px;
    transform: translateY(0px);
}

.o_main_navbar .o_switch_company_menu .oe_topbar_company_avatar {
    height: 40px;
    width: 40px;
}
