.handling_product_variant_price{
  background-color:aliceblue;
  border-radius:10px;
  width:64%;
  padding: 5px; margin: 5px 0 0 -5px;
}

.handling_product_variant_price:hover{
  background-color:#e2f1fd;
}

#handling_price_title{
  text-decoration:underline;
}
