# GRAP: Extra modules Merged in custom repositories

git+https://github.com/grap/grap-odoo-business@16.0#subdirectory=setup/product_food
git+https://github.com/grap/grap-odoo-business@16.0#subdirectory=setup/mrp_bom_product_allergen
git+https://github.com/grap/grap-odoo-business@16.0#subdirectory=setup/product_label
git+https://github.com/grap/grap-odoo-business@16.0#subdirectory=setup/hr_direct_address_home
git+https://github.com/grap/odoo-addons-cae@16.0#subdirectory=setup/fiscal_company_base

# OCA Pending PR

git+https://github.com/OCA/manufacture@refs/pull/1227/head#subdirectory=setup/mrp_bom_product_price_margin
git+https://github.com/OCA/manufacture@refs/pull/1218/head#subdirectory=setup/mrp_bom_simple_report
git+https://github.com/OCA/manufacture@refs/pull/1214/head#subdirectory=setup/mrp_bom_line_net_qty
git+https://github.com/OCA/manufacture@refs/pull/1242/head#subdirectory=setup/mrp_product_produce_delay_in_hour
git+https://github.com/OCA/manufacture@refs/pull/1244/head#subdirectory=setup/mrp_bom_produce_delay_in_hour
git+https://github.com/OCA/manufacture@refs/pull/1430/head#subdirectory=setup/mrp_bom_simple_packaging_description
git+https://github.com/OCA/product-attributes@refs/pull/1840/head#subdirectory=setup/product_compute_template_field_from_variant_helper

# Placeholder for future PRs 1
git+https://github.com/grap/grap-odoo-business@16.0#subdirectory=setup/product_label_mrp

# Placeholder for future PRs 2

# Placeholder for future PRs 3
git+https://github.com/OCA/hr@refs/pull/1421/head#subdirectory=setup/hr_employee_firstname_partner_firstname
git+https://github.com/OCA/l10n-france@refs/pull/621/head#subdirectory=setup/l10n_fr_department

# Placeholder for future PRs 4
git+https://github.com/OCA/multi-company@refs/pull/674/head#subdirectory=setup/base_company_legal_info
git+https://github.com/coopiteasy/addons@16.0#subdirectory=setup/product_label_report
git+https://github.com/grap/grap-odoo-business@16.0#subdirectory=setup/product_food_certification


# Placeholder for future PRs 5
