.screen .screen-content {
    max-width: 90%;
}


.pos .category-button {
    border: 1px solid #000;
}

.pos .category-button .category-name {
    color: #000;
}

.pos .product {
    border: 1px solid #000;
}

.pos {
    color: #000;
}

.pos .actionpad .button {
    color: #000;
}

.pos .numpad button {
    color: #000;
}

.pos .order .summary {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pos .searchbox input{
    width: 200px;
    background-image: none;
    border: 1px solid;
    padding: 14px 20px;
    margin: 0px;
    font-size: 16px;
}

.pos .search-clear{
    top: 0px;
    left: -60px;
    width: 19px;
    height: 19px;
    border-radius: 30px;
    background: #6EC89B;
    border: 1px solid;
    padding: 14px 20px 14px 10px;
    font-size: 16px;

}
