<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
@author: Quentin DUPONT (quentin.dupont@grap.coop)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>


<!-- ************************************************************ -->
<!-- New Menu Items -->
<!-- ************************************************************ -->

    <menuitem id="res_partner_editable_view"
        name="Inline editable"
        parent="contacts.menu_contacts"
        sequence="3"/>

<!--     <menuitem id="menu_product_product_editable_view"
        name="Inline editable"
        parent="menu_root"
        sequence="3"/> -->


</odoo>
