<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem id="menu_root"
        name="The Cooperative"
        sequence="1"
        web_icon="grap_cooperative,static/src/img/icon.png"/>

    <menuitem id="menu_editable_view"
        name="Editable View"
        parent="menu_root"
        groups="res_group_grap_cooperative_manager"
        sequence="100"/>

</odoo>
