<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <record  id="pos_restaurant.menu_restaurant_floor_all" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('grap_change_access.group_pos_restaurant'))]"/>
    </record>

</odoo>
