$grey: #2d3436;
$violet: #6c5ce7;
$violet-light: #e1def2;
$violet-dark: #2b043a;
$yellow: #fdcb6e;

.title-h2, .title-h3{
  color : $grey;
}

.page_header{
  border: solid 1px;
  padding: 1em;
}

.purchase_list_new_category{
  background-color: $violet-light;
}

.table_footer_total_cost{
  background-color: $yellow;
}

.manufacture_bom_to_prepare_thead{
    color : $violet-light;
}

.th-colored{
    color : $violet;
}

.width-fixed-small{
  width: 100px;
}

.width-fixed-large{
  width: 250px;
}

.width-qty-and-unit{
  width: 10px;
}

.small-font-size{
  font-size: 12px;
}

.smaller-font-size{
  font-size: 10px;
}

.bom-desired-quantity{
  color: $violet-dark;
}

.bom-description{
  color: $violet;
}

.production_date{
  font-weight: bold;
}

.new_section {
  padding-top: 50px;
  page-break-inside: avoid;
}
