.btn_price_from_supplierinfo{
  height: 25px;
  line-height: 5px;
  position: relative;
  bottom: 2px;
  background-color: transparent;
  font-weight: bold;
  color: #7c7bad;
    &:hover {
      color: #43426c;
    }
}
