<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2020-Today GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <!-- Hide 'product template' menu entries -->
    <record model="ir.ui.menu" id="purchase.menu_procurement_partner_contact_form">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_erp_manager')])]"/>
    </record>

    <!-- Rename 'product Variant' menu entries into 'product' -->
    <record model="ir.ui.menu" id="purchase.product_product_menu">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_erp_manager')])]"/>
    </record>

    <!-- Display Purchase configuration menu for all users -->
    <record model="ir.ui.menu" id="purchase.menu_purchase_config">
        <field name="groups_id" eval="[(6, 0, [ref('purchase.group_purchase_user')])]"/>
    </record>

    <record model="ir.ui.menu" id="purchase.menu_product_in_config_purchase">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_erp_manager')])]"/>
    </record>

</odoo>

