.seasonnality_information {
  position: relative;
  top: -25px;
  margin-bottom: -10px;
}

.is_main_seller_icon{
  font-size: 15px;
}

.btn_price_from_supplierinfo{
  height: 25px;
  line-height: 5px;
  position: relative;
  bottom: 2px;
}
