.seasonnality_information {
  position: relative;
  top: -25px;
  margin-bottom: -10px;
}

.is_main_seller_icon{
  font-size: 15px;
}

.btn_price_from_supplierinfo{
  height: 25px;
  line-height: 5px;
  position: relative;
  bottom: 2px;
  background-color: transparent;
  font-weight: bold;
  color: #7c7bad;
    &:hover {
      color: #43426c;
    }
}

.o_tag_color_0{
  background-color: #e7e7e7 !important;
  box-shadow: none !important;
  font-weight: bold;
  line-height: 1.3;
}
