div .pos-content {
    background-color:#AAFFAA !important;
}

div .leftpane {
    background-color:#AAFFAA !important;
}

div .order {
    background-color:#AAFFAA !important;
}

div .order-container {
    background-color:#AAFFAA !important;
}

div .screen {
    background-color:#AAFFAA !important;
}
