/*Main background */
nav {
    background-color:#AAFFAA !important;
}

main {
    background-color:#AAFFAA !important;
}

.o_web_client {
    background-color:#AAFFAA !important;

}

.o_main_navbar .dropdown-toggle:not(.o-dropdown-toggle-custo), .o_main_navbar .o_menu_toggle {
    color: #212529 !important;
}

/*Background of the kanban,tree views and form views*/
.o_renderer,.o_form_renderer, .o_kanban_record {
    background-color:#AAFFAA !important;
}

/*Background of the div that contain search bar, breadcrumb, etc...*/
.o_control_panel {
    background-color:#AAFFAA !important;
}

/* background specific for the breadcrumb */
.breadcrumb {
    background-color:#AAFFAA !important;
}

/*Background of the dropdown menus logout, debug, etc...*/
.o-dropdown--menu,.o-dropdown-menu,.o_NotificationListItem {
    background-color:#AAFFAA !important;
}

/* background specific for the module discussion */
.bg-view {
    background-color:#AAFFAA !important;
}
