.square_pricetag_large {
    border: 1px solid grey;
    background-color:white;
    width:11.28cm; height:10.42cm;
    margin : 0 -0.2cm -0.1cm 0;
    padding : 5px;
    overflow: hidden;

    .label_left {
        width : 4cm; height:10.1cm;
    }
    .label_right {
        display: inline-block;
        width : 6.8cm; height:10.2cm;
    }
    .div_company_logo {
        height: 3.4cm;
    }
    img.company_logo{
        width: 3cm; height: 3cm;
        position: relative; left: 0.5cm; top: 0.2cm;
    }
    .product_name{
        font-size:38px; font-weight:bold; text-transform: uppercase;
        overflow: hidden;
        display: inline-block;
        height: 3.55cm;
        line-height: 1.2em;
        width: 100%;
    }
    .label_ingredients {
        padding-top: 0.2cm;
        font-size: 13px;
        height: 2.7cm;
        overflow: hidden;
    }
    .label_allergens {
        padding-top: 0.2cm;
        font-size: 12px;
    }
    .info_underline {
      text-decoration: underline;
    }
    .product_price {
        position: relative;
        text-align: center;
    }
    .product_price_per_uom_price_beside{
        font-size: 8px;
        vertical-align: bottom;
        position: relative; bottom: 15px;
    }
    .product_price_per_uom_price_only {
        font-size: 12px;
        position: relative; bottom: 5px;
        width: 100%;
    }
    .product_price_per_uom_price_big {
        overflow: hidden;
        word-wrap: normal;
    }
    .product_price_big {
        font-weight: lighter;
        font-size: 38px;
        margin: 0.1cm 0;
    }
    span.product_uom {
        font-size:22px;
    }
    span.product_uom_special {
        font-size: 15px; font-weight: bold;
    }
    .label_origin {
        max-height: 0.9cm; overflow: hidden;
        font-size: 12px;
    }
    .product_labels{
        padding-left: 15px;
        margin-top: 2px;
        font-size: 30px;
        height: 4cm;
    }
    img.product_label{
        width: 1.6cm; height: 1.6cm;
    }
    .product_labels, .organic_text{
        overflow: hidden;
    }
    .organic_text{
        font-size: 12px;
        padding-left: 15px;
        height: 1.5cm;
    }
    .span_code{
      margin-left: 1px;
    }
    .wrap_barcode_image{
        overflow: hidden;
        position: relative;
        height: 0.5cm;
    }
    .wrap_barcode_image > img{
        width: 4cm;
    }
    .wrap_product_code {
        font-size: 10px;
        padding-left: 10px;
    }
    .write_date{
        font-size: 5px;
        white-space: nowrap;
        position: relative; left: 2.3em;
    }
}
