.square_pricetag_small {
    border: 1px solid grey;
    background-color:white;
    width:3.8cm; height:3.8cm;
    margin : 0 -0.2cm -0.1cm 0;
    padding : 5px;
    overflow: hidden;

    .write_date{
        font-size: 4px;
    }
    .product_labels{
        float:left;
        width: 0.88cm;
        min-width: 0.55cm;
        min-height: 1px; // to have width and height even if empty
        max-height: 1cm;
    }
    img.product_label{
        width:0.5cm; height:0.5cm;
        position: relative;
        bottom: 0.15cm;
    }
    .product_name{
        font-size:12px;
        padding-bottom : 6px; padding-top : 3px;
        margin-top: 0.1cm;
        overflow: hidden; height: 1.1cm;
        text-align: center;
    }
    // ========== Price
    .price_area {
      text-align: center;
      position: relative;
      right:0.28cm;
      width:3.8cm; height:1.9cm;
    }
    // 1. With special quantity price
    .pricetag_second_product_price {
        font-size: 25px;
        text-align: center;
        overflow: hidden;
        position: relative; right: 0.28cm;
    }
    .pricetag_second_price_uom_text {
        font-size: 13px;
        text-align: center; line-height: 0.5em;
    }
    .product_price_per_uom_price_only {
      font-size: 9px; line-height: 3em;
      width: 100%; text-align: center;
    }
    // 2. With normal quantity
    .product_price {
        font-size: 23px;
        line-height: 1cm;
        overflow: hidden;
        white-space: nowrap;
    }
    // 2.a Sell by weight or unit
    .product_sell_by_weight {
      font-size: 11px;
      text-align: center;
      position: relative;
      bottom: 0.7em;
      left: 0.2cm;
    }
    // 2.b Uom price
    .product_price_per_uom_price {
        text-align: center;
        font-size:9px;
        display: inline;
        position : relative; left: 0.25cm; bottom: 0.31cm;
    }

    // ========== Codes
    .option_print_codes{
      text-align: center;
      font-size: 6px;
    }
    .wrap_barcode_image{
        overflow: hidden;
        position: relative; bottom: 0.24cm;
        height: 0.30cm;
    }
    .wrap_barcode_image > img{
        width: 3.8cm;
        position : relative; right: 0.2cm;
    }
}
