.normal_pricetag_small {
    width:9.3cm; height:4.4cm;
    padding: 0.4cm 0.15cm;

    .pricetag_left {
        width : 5.8cm;
    }
    .pricetag_right {
        width : 2.7cm;
        height: 3.6cm;
        padding-top: 30px;
    }
    .product_informations {
        font-size:9px;
    }
    .pricetag_second_product_price {
        font-size: 33px;
    }
    .pricetag_second_price_uom_text {
        font-size: 13px;
    }
    .product_price {
        font-size: 26px;
    }
    .product_sell_by_weight {
        bottom: 0.8em;
    }
    img.product_label{
        width:0.8cm; height:0.8cm; margin: 0.1cm 0.1cm 0.1cm 0cm;
    }
    .organic_text{
        position: relative; top: 0.2cm;
        font-size: 7px;
    }
    .wrap_barcode_image{
        position: relative;
        height: 1.1cm;
        bottom: 0px;
        left: 5px;
    }
    .write_date{
        font-size: 5px;
        white-space: nowrap;
        position: relative; bottom: 10px;
    }
}
