.oe_single_form{
    background-color:#AAFFFF !important;
    background-image: none !important;
}

 .openerp .oe_leftbar{
    background-color:#AAFFFF;
}

body .oe_single_form{
    background-color:#AAFFFF;
}
