<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2022 - Today: Sylvain LE GAL (http://www.grap.coop)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <record id="crm.crm_menu_report" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('sales_team.group_sale_salesman_all_leads'))]" />
    </record>

    <record id="crm.crm_menu_config" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('sales_team.group_sale_salesman_all_leads'))]" />
    </record>

    <record id="crm.menu_crm_config_lead" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('sales_team.group_sale_salesman_all_leads'))]" />
    </record>

    <record id="crm.menu_crm_lead_stage_act" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('sales_team.group_sale_salesman_all_leads'))]" />
    </record>

    <record id="crm.crm_team_config" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.clear(), Command.link(ref('base.group_system'))]" />
    </record>

    <record id="crm.crm_team_menu_config_activity_types" model="ir.ui.menu">
        <field name="groups_id" eval="[Command.clear(), Command.link(ref('base.group_system'))]" />
    </record>

</odoo>
