<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2024 - Today: GRAP (http://www.grap.coop)
@author: Quentin DUPONT (quentin.dupont@grap.coop)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <!-- ************************************************************ -->
    <!-- Project - Add Config access to Project User -->
    <!-- ************************************************************ -->
    <record model="ir.ui.menu" id="project.menu_project_config">
        <field name="groups_id" eval="[(6, 0, [ref('project.group_project_user')])]"/>
    </record>

    <record model="ir.ui.menu" id="project.menu_project_report">
        <field name="groups_id" eval="[(6, 0, [ref('project.group_project_user')])]"/>
    </record>
    <record model="ir.ui.menu" id="project.menu_project_report_task_analysis">
        <field name="groups_id" eval="[(6, 0, [ref('project.group_project_user')])]"/>
    </record>

</odoo>
