@charset "utf-8";

/* warehouse - view_stock_picking_type ------------------------------------- */
.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image{
    min-height: 200px !important;
}

/* dropdown actions */
.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image a.oe_kanban_action{
    font-size: 16px;
}

/* Link actions : All Operations */
.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_action_all{
    display: block;
    width: 98% !important;
    margin: 0 5px !important;
    text-align: center;
    border-radius: 4px;
    height: 2.5em !important;
}


.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_action_all_link{
    line-height: 2em;
    padding: 0.4em 2.8em;
    text-decoration: none !important;
}

.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_action_all_link:hover{
    text-decoration: underline;
}

/* Link actions : Ready, Wainting, Late etc.. */
.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_items_list a:hover {
    text-decoration: none !important;
}

.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_actions_picking div {
    display: inline;
    width: 14em;
    text-align: center;
    border-radius: 4px;
    top : 10px;
}

.openerp .oe_kanban_view .oe_kanban_ellipsis {
    height: 10em;
}

.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_items_list div {
    height: 2.5em;
    width: unset;
    display: inline-block;
}

/* Cursor */ 
.openerp .oe_kanban_view .oe_kanban_record div {
    cursor: default !important;
}

.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_dropdown_kanban span {
    cursor: pointer !important;
}

.openerp .oe_kanban_view .oe_dropdown_kanban .oe_dropdown_menu {
    min-width: 14em !important;
}


/*  Link actions : Ready, Wainting, Late etc.. */
.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_actions_picking .oe_kanban_action_ready, .openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_actions_picking .oe_kanban_action_late, .openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_actions_picking .oe_kanban_action_backorders, .openerp .oe_kanban_view .oe_kanban_stock_picking_type_image .oe_kanban_actions_picking .oe_kanban_action_waiting {
    width: 10em;
    margin: 5px 5px !important;
    line-height: 2.5em;
    overflow: hidden;
}

/* surcharge original css */
.openerp .oe_kanban_view .oe_kanban_stock_picking_type_image {
    width: 400px;
}

.openerp .oe_kanban_stock_picking_type_image .oe_kanban_image {
    top: 50px;
    right: 16px;
    position: relative;
}
