@charset "utf-8";

/* GENERAL - Menu ----------------------------------------------------- */
/*    Add an hover effect s*/
.openerp .oe_menu_leaf:hover, .openerp .oe_menu_toggler:hover{
  background: #fff;
}

.openerp .oe_view_manager_switch .oe_button_group .oe_right li:hover{
  background: #fff;
}

.oe_view_manager_switch .oe_button_group .oe_right{
  background: blue;
}

.oe_view_manager_switch li:hover, .oe_pager_group a:hover{
  background: #efefef;
}

/* GENERAL - Tree View ----------------------------------------------------- */
/*    Add an hover effect on tree view rows*/
.openerp .oe_list_content tbody tr:hover{
  background: #F0F0E0;
}

/* GENERAL - Tree View Improve Search Zone --------------------------------- */
.openerp .oe_searchview_drawer dt{
    width: 110px; /* before 160px */
}

.openerp .oe_searchview_drawer dd{
    margin-left: 120px /* before 180px */
}

.openerp .oe_searchview_drawer .col-md-7{
    width:45%;
}

.openerp .oe_searchview_drawer .col-md-5{
    width:55%;
}

.openerp .oe_searchview_unfold_drawer {
    width: 150px;
    left: -160px;
    background: #fff;
    color: black !important;
    border-radius: 13px;
    border: 1px solid #ababab;
    text-align: center;
    line-height: 1.55em;
} 

.openerp .oe_searchview_unfold_drawer:hover {
    background: #e3e3e3;
    border-color: #a1a1a1;
}

.openerp .oe_searchview_clear {
    right: 6px !important;
}

.openerp .oe_searchview_search {
    padding-left: 2px;
}

.modal-lg{
    width: 95%;
}

/* GENERAL - Tree View Improve manager header ------------------------------ */
.openerp .oe_pager_value {
    cursor: pointer;
    padding: 0px 8px;
} 

.openerp .oe_pager_value:hover {
    border-radius: 6px;
    background: #fff;
    border-color: #a1a1a1;
}

/* GENERAL - Form View ----------------------------------------------------- */
/*Reduce blank space arround group*/
.openerp .oe_form .oe_form_group {
    margin: 0px;
}
/*Reduce blank space before separator*/
.openerp .oe_horizontal_separator {
    margin: 6px 0px 0px;
}

.openerp .oe_application .oe_breadcrumb_item:not(:last-child) {
    max-width: 9em;
}

.openerp .oe_application .oe_breadcrumb_item {
    white-space: nowrap;
    max-width: 72em;
    text-overflow: ellipsis;
}

/* project - view_task_kanban                                           */
.openerp span[data-original-title="Remaining hours"] {
    display: none !important;
}

.openerp .project_kanban_project_id {
    display: none;
}

.openerp .oe_kanban_view .oe_kanban_bottom_right {
    max-height: 23px;
}

.openerp .oe_kanban_status {
    position: relative;
    bottom: 4px;
}

.openerp .oe_kanban_group_title_text {
    margin-left: 3px;
    position: relative; top: 5px;
}

.openerp ul.oe_kanban_aggregates {
    background-color: red;
    display: none;
}

/* purchase - view_purchase_order_form --------------------------------------------- */
.grap_change_views__view_purchase_order_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_purchase_order_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_purchase_order_form [data-id="product_qty"]         {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="product_uom"]         {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="discount"]            {width: 6%;}
.grap_change_views__view_purchase_order_form [data-id="tax_ids_description"] {width: 12%;}
.grap_change_views__view_purchase_order_form [data-id="price_subtotal"]      {width: 6%;}


/* sale - view_sale_order_form --------------------------------------------- */
.grap_change_views__view_sale_order_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_sale_order_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_sale_order_form [data-id="product_uom_qty"]     {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="product_uom"]         {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="tax_ids_description"] {width: 12%;}
.grap_change_views__view_sale_order_form [data-id="discount"]            {width: 6%;}
.grap_change_views__view_sale_order_form [data-id="price_subtotal"]      {width: 6%;}


/* point_of_sale - view_pos_order_form  ------------------------------------ */
.grap_change_views__view_pos_order_form [data-id="product_id"]          {width: 50%;}
.grap_change_views__view_pos_order_form [data-id="qty"]                 {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_unit"]          {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="discount"]            {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_subtotal"]      {width: 10%;}
.grap_change_views__view_pos_order_form [data-id="price_subtotal_incl"] {width: 10%;}


/* account - view_account_invoice_customer_form --------------------------------------------- */
.grap_change_views__view_account_invoice_customer_form [data-id="product_id"]          {width: 33%;}
.grap_change_views__view_account_invoice_customer_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_account_invoice_customer_form [data-id="quantity"]            {width: 6%;}
.grap_change_views__view_account_invoice_customer_form [data-id="uos_id"]              {width: 6%;}
.grap_change_views__view_account_invoice_customer_form [data-id="price_unit"]          {width: 6%;}
.grap_change_views__view_account_invoice_customer_form [data-id="discount"]            {width: 5%;}
.grap_change_views__view_account_invoice_customer_form [data-id="tax_ids_description"] {width: 12%;}
.grap_change_views__view_account_invoice_customer_form [data-id="price_subtotal"]      {width: 6%;}


/* account - view_account_invoice_supplier_form --------------------------------------------- */
.grap_change_views__view_account_invoice_supplier_form [data-id="product_id"]          {width: 31%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="name"]                {width: 25%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="quantity"]            {width: 6%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="uos_id"]              {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="price_unit"]          {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="discount"]            {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="discount2"]           {width: 5%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="tax_ids_description"] {width: 12%;}
.grap_change_views__view_account_invoice_supplier_form [data-id="price_subtotal"]      {width: 6%;}

/* account - view_account_invoice_tree --------------------------------          ------------ */
.grap_change_views__view_account_invoice_tree          [data-field="origin"]              {
    width: 20%;
    max-width: 200px; /*Weird value, but it works ;-)*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}


/* account - view_account_invoice_supplierinfo_form ----------------------------------------- */
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="product_id"]                 {width: 52%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_price"]              {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_price"]                  {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_discount"]           {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_discount"]               {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_discount2"]          {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_discount"]               {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="current_standard_price"]     {width: 6%;}
.grap_change_views__view_wizard_update_invoice_supplierinfo_form [data-id="new_standard_price"]         {width: 6%;}




/* account - view_account_move_form                                           */
.grap_change_views__view_account_move_form [data-id="invoice"]              {width: 3%;}
.grap_change_views__view_account_move_form [data-id="name"]                 {width: 18%;}
.grap_change_views__view_account_move_form [data-id="partner_id"]           {width: 12%;}
.grap_change_views__view_account_move_form [data-id="account_id"]           {width: 18%;}
.grap_change_views__view_account_move_form [data-id="date_maturity"]        {width: 7%;}
.grap_change_views__view_account_move_form [data-id="debit"]                {width: 8%;}
.grap_change_views__view_account_move_form [data-id="credit"]               {width: 8%;}
.grap_change_views__view_account_move_form [data-id="tax_code_id"]          {width: 10%;}
.grap_change_views__view_account_move_form [data-id="tax_amount"]           {width: 5%;}
.grap_change_views__view_account_move_form [data-id="state"]                {width: 5%;}
.grap_change_views__view_account_move_form [data-id="reconcile_id"]         {width: 3%;}
.grap_change_views__view_account_move_form [data-id="reconcile_partial_id"] {width: 3%;}
