@charset "utf-8";

/* Point Of Sale Front-Office - Improve payment line */
.pos .paymentline-input {
    height: 40px;
}

/* Point Of Sale Front-Office - Improve delete payment button */
.paymentline-delete{
    width: 34px;
    height: 34px;
    border-radius: 4px;
    padding: 2px;
    border: 1px solid #CACACA;
    background: linear-gradient(#F0F0F0, #E2E2E2) repeat scroll 0% 0% transparent;
}

.pos .paymentline-delete img {
    width: 28px;
}

/* Point Of Sale Front-Office - Improve Product Search Zone */
.pos .searchbox input {
    width: 300px;
    font-size: 18px;
    background: url("/point_of_sale/static/src/img/search_reset.gif") no-repeat 15px;
    background-color: #FFF;
    margin-top: 3px;
}

/* Point Of Sale Front-Office - Improve Customer Search Zone */
.pos .clientlist-screen .searchbox {
    margin-left: -300px;
}

.pos .clientlist-screen .searchbox input {
    width: 300px;
}
