<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2013-Today GRAP (http://www.grap.coop)
@author: Julien WESTE
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
@author: Quentin DUPONT <quentin.dupont@grap.coop>
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<odoo><data>

    <menuitem id="menu_pos_order_line" name="Order Lines"
        sequence="2"
        parent="point_of_sale.menu_point_of_sale" 
        action="action_pos_order_line"/>

</data></odoo>









