<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2018-Today GRAP (http://www.grap.coop)
@author: Quentin DUPONT (https://twitter.com/pondupont)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<odoo>

    <!-- Hide 'product template' menu entries -->
    <record model="ir.ui.menu" id="point_of_sale.menu_pos_products">
        <field name="name">Products (Admin)</field>
        <field name="groups_id" eval="[(6, 0, [ref('base.group_erp_manager')])]"/>
    </record>

    <!-- Rename 'product Variant' menu entries into 'product' -->
    <record model="ir.ui.menu" id="point_of_sale.pos_config_menu_action_product_product">
        <field name="name">Products</field>
    </record>

    <record model="ir.ui.menu" id="point_of_sale.menu_pos_session_all">
        <field name="groups_id" eval="[(6, 0, [ref('point_of_sale.group_pos_user')])]"/>
    </record>

    <record model="ir.ui.menu" id="point_of_sale.menu_point_config_product">
        <field name="groups_id" eval="[(6, 0, [ref('point_of_sale.group_pos_user')])]"/>
    </record>

    <record model="ir.ui.menu" id="point_of_sale.pos_menu_products_attribute_action">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_erp_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="point_of_sale.pos_menu_products_variants_action">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_erp_manager')])]"/>
    </record>

</odoo>
