.menu-simple-report {

    // VARIABLES
    $margin-left-right: 15px;
    $color-grey: #444;
    $color-grey-dark: #222;
    $color-yellow-light: #fff7de;
    $color-yellow-less-light: #fdcb6e;

    color: $color-grey-dark;
    background-color: $color-yellow-light;

    // Invisible array to properly align fields
    .menu-table {
        width: 100%;
        border-collapse: collapse;
    }

    // Title, sections, notes
    .menu-title {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .line_all {
        margin: 10px $margin-left-right 0px $margin-left-right;
    }

    .line_note {
        color: $color-grey;
        font-size: 16px;
        font-style: italic;
    }

    .line_section {
        margin-top: 15px;
        padding-top: 5px;
        background-color: $color-yellow-less-light;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid $color-grey-dark;
    }

    // Product and prices
    .item-product, .item-price {
        font-size: 15px;
        font-weight: bold;
    }

    .item-product {
        text-align: left;
        width: 80%;
    }

    .item-price {
        text-align: right;
        width: 20%;
    }

    .allergen_codes {
        font-size: 10px;
        color: $color-grey;
    }


}
