<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2013-Today GRAP (http://www.grap.coop)
@author: Julien WESTE
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<openerp><data>

<!-- Reorder Main Menu-->
    <record model="ir.ui.menu" id="grap_cooperative.menu_grap_root">
        <field name="sequence">1</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_purchase_root">
        <field name="sequence">2</field>
    </record>

    <record model="ir.ui.menu" id="stock.menu_stock_root">
        <field name="sequence">3</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_base_partner">
        <field name="sequence">4</field>
    </record>

    <record model="ir.ui.menu" id="point_of_sale.menu_point_root">
        <field name="sequence">5</field>
        <field name="action" ref="point_of_sale.action_pos_pos_form" />
    </record>

    <record model="ir.ui.menu" id="intercompany_trade_base.menu_intercompany_trade_root">
        <field name="sequence">6</field>
    </record>

    <record model="ir.ui.menu" id="account.menu_finance">
        <field name="sequence">7</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_reporting">
        <field name="sequence">8</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_administration">
        <field name="sequence">100</field>
    </record>

    <record model="ir.ui.menu" id="knowledge.menu_document">
        <field name="sequence">200</field>
    </record>

    <record model="ir.ui.menu" id="mail.mail_feeds_main">
        <field name="sequence">201</field>
        <field name="groups_id" eval="[(6,0, [ref('base.group_no_one')])]" />
    </record>


<!-- enable Menu to basic user -->
    <record model="ir.ui.menu" id="product.menu_product_pricelist_action2">
        <field eval="[(6, 0, [ref('base.group_sale_salesman_all_leads')])]" name="groups_id"/>
    </record>

<!-- Enable menu for standard User -->
        <record model="ir.ui.menu" id="stock.menu_action_move_form2">
            <field eval="[(6, 0, [])]" name="groups_id"/>
        </record>

<!-- Disable menu for standard User -->

    <record model="ir.ui.menu" id="stock.menu_stock_configuration">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="stock.menu_action_location_form">
        <field eval="[(6, 0, [ref('stock.group_stock_user')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="delivery.menu_action_delivery_carrier_form">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="stock.menu_product_by_category_stock_form">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

<!-- Disable Menu to basic User -->
    <record model="ir.ui.menu" id="product.menu_product_uom_form_action">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="base.menu_config_address_book">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="product.menu_product_pricelist_action">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="product.menu_products_category">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="purchase.menu_purchase_config_pricelist">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <!--
        * Reorder Sale / Sale items
        * Disable Quotation
    -->
    <record model="ir.ui.menu" id="sale.menu_sale_order">
        <field name="sequence" eval="1" />
    </record>
    <record model="ir.ui.menu" id="base.menu_partner_form">
        <field name="sequence" eval="2" />
    </record>
    <record model="ir.ui.menu" id="sale.menu_sale_quotations">
        <field name="name">Quotations (Admin)</field>
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

<!-- Customer Part refactoring -->
    <record model="ir.ui.menu" id="menu_res_partner_editable_view">
        <field name="name">Customers (Other Views)</field>
        <field name="sequence">2</field>
        <field name="parent_id" ref="base.menu_sales" />
    </record>

    <menuitem id="sale_eshop.menu_res_partner_3"
        name="Customers (eShop)"
        sequence="1"
        parent="menu_res_partner_editable_view"/>

<!-- Purchase / Purchase Menu -->

    <record model="ir.ui.menu" id="purchase.menu_product_by_category_purchase_form">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>
    
    <record model="ir.ui.menu" id="purchase.menu_procurement_management_inventory">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

    <record model="ir.ui.menu" id="purchase.menu_procurement_management_pending_invoice">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

    <record model="ir.ui.menu" id="purchase.menu_purchase_line_order_draft">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

    <record model="ir.ui.menu" id="purchase.menu_action_picking_tree_picking_to_invoice">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

<!-- Purchase / Reporting Menu -->
    <record model="ir.ui.menu" id="purchase.menu_action_purchase_order_report_all">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

<!-- Purchase purchase.order Menu refactoring -->
    <!--
        * Reorder Purchase / Purchase items
        * Disable Quotation
    -->
    
    <record model="ir.ui.menu" id="purchase.menu_purchase_form_action">
        <field name="sequence" eval="1" />
        <field name="name">Quotations / Purchase Orders</field>
    </record>
    <record model="ir.ui.menu" id="base.menu_procurement_management_supplier_name">
        <field name="sequence" eval="2" />
    </record>

    <record model="ir.ui.menu" id="purchase.menu_purchase_rfq">
        <field name="name">Quotations (Admin)</field>
        <field name="sequence" eval="99" />
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>


<!-- CRM / Sale Menu -->
    <record model="ir.ui.menu" id="crm.menu_crm_leads">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_opportunities">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_case_phone">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="base.menu_crm_config_lead">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_lead_stage_act">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

<!-- CRM / Reporting Menu -->
    <record model="ir.ui.menu" id="crm.menu_report_crm_leads_tree">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_report_crm_opportunities_tree">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_report_crm_phonecalls_tree">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>


<!-- GRAP Menu -->
    <menuitem id="menu_grap_dashboard"
        name="Indicateurs"
        parent="grap_cooperative.menu_grap_root"
        sequence="0"
        groups="base.group_user"/>

    <menuitem id="web_dashboard_tile.mail_dashboard" 
        name="Indicateurs Synthétiques"
        parent="menu_grap_dashboard"/>

<!-- Accounting Menu -->
    <menuitem id="menu_account_invoice_line_customer"
        name="Customer Invoices Lines"
        parent="account.menu_finance_receivables" sequence="120"
        action="action_account_invoice_line_tree_customer"/>

    <menuitem id="menu_account_invoice_line_supplier"
        name="Supplier Invoices Lines"
        parent="account.menu_finance_payables" sequence="120"
        action="action_account_invoice_line_tree_supplier"/>

    <!-- Disable default menu for account.move.line, because it is dummy -->
    <record model="ir.ui.menu" id="account.menu_action_account_moves_all">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>

    <!-- disable weird voucher menu -->
    <record model="ir.ui.menu" id="account_voucher.menu_action_sale_receipt">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>
    <record model="ir.ui.menu" id="account_voucher.menu_action_purchase_receipt">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>

    <!-- Up to somes menu just for Account Manager -->
    <record model="ir.ui.menu" id="account.menu_finance_charts">
        <field name="groups_id" eval="[(6, 0, [ref('account.group_account_manager')])]" />
    </record>
    <record model="ir.ui.menu" id="account.menu_finance_periodical_processing">
        <field name="groups_id" eval="[(6, 0, [ref('account.group_account_manager')])]" />
    </record>
    <record model="ir.ui.menu" id="account.menu_finance_entries">
        <field name="groups_id" eval="[(6, 0, [ref('account.group_account_manager')])]" />
    </record>

    <!-- Down to somes menu just for Invoice User -->
    <record model="ir.ui.menu" id="account.menu_finance_bank_and_cash">
        <field name="groups_id" eval="[(6, 0, [ref('account.group_account_invoice')])]" />
    </record>

    <!-- Disable unused accounting feature -->
    <record model="ir.ui.menu" id="account_statement_reconciliation.menu_menu_Bank_process">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>


    <!-- reorder some items -->
    <menuitem id="menu_account_move_line"
        name="Account Move Lines"
        parent="account.menu_finance_entries" sequence="1"
        action="action_view_account_move_line_tree"/>

    <menuitem id="account.menu_finance_legal_statement"
        name="Legal Reports"
        parent="account.menu_finance_reporting"
        groups="account.group_account_manager"/>

    <menuitem id="account.menu_finance_generic_reporting"
        name="Generic Reporting"
        parent="account.menu_finance_reporting"
        sequence="100"
        groups="account.group_account_manager"/>

    <menuitem id="account.menu_finance_statistic_report_statement"
        name="Statistic Reports"
        parent="account.menu_finance_reporting"
        sequence="300"
        groups="account.group_account_manager"/>

<!-- (accounting) Reporting Menu -->
    <record model="ir.ui.menu" id="account.menu_action_account_invoice_report_all">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="account_voucher.menu_action_sale_receipt_report_all">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

    <menuitem id="menu_pos_order_line" name="Order Lines"
        sequence="3"
        parent="point_of_sale.menu_point_of_sale" 
        action="action_pos_order_line"/>

<!-- (Sale) Reporting Menu -->
    <record model="ir.ui.menu" id="sale.menu_report_product_all">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>


<!-- Point Of Sale Menu -->
    <record model="ir.ui.menu" id="point_of_sale.menu_point_config_product">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>

    <record model="ir.ui.menu" id="point_of_sale.menu_pos_details">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="point_of_sale.menu_report_pos_order_all">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

</data></openerp>
