<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2013-Today GRAP (http://www.grap.coop)
@author: Julien WESTE
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<openerp><data>

<!-- Reorder Main Menu-->
    <record model="ir.ui.menu" id="grap_cooperative.menu_grap_root">
        <field name="sequence">1</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_purchase_root">
        <field name="sequence">2</field>
    </record>

    <record model="ir.ui.menu" id="stock.menu_stock_root">
        <field name="sequence">3</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_base_partner">
        <field name="sequence">4</field>
    </record>


    <record model="ir.ui.menu" id="base.menu_reporting">
        <field name="sequence">8</field>
    </record>

    <record model="ir.ui.menu" id="base.menu_administration">
        <field name="sequence">100</field>
    </record>

    <record model="ir.ui.menu" id="mail.mail_feeds_main">
        <field name="sequence">201</field>
        <field name="groups_id" eval="[(6,0, [ref('base.group_no_one')])]" />
    </record>


<!-- enable Menu to basic user -->
    <record model="ir.ui.menu" id="product.menu_product_pricelist_action2">
        <field eval="[(6, 0, [ref('base.group_sale_salesman_all_leads')])]" name="groups_id"/>
    </record>

<!-- Enable menu for standard User -->
        <record model="ir.ui.menu" id="stock.menu_action_move_form2">
            <field eval="[(6, 0, [])]" name="groups_id"/>
        </record>

<!-- Disable menu for standard User -->

    <record model="ir.ui.menu" id="stock.menu_stock_configuration">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="stock.menu_action_location_form">
        <field eval="[(6, 0, [ref('stock.group_stock_user')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="delivery.menu_action_delivery_carrier_form">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="stock.menu_product_by_category_stock_form">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

<!-- Disable Menu to basic User -->
    <record model="ir.ui.menu" id="product.menu_product_uom_form_action">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="base.menu_config_address_book">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="product.menu_product_pricelist_action">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>

    <record model="ir.ui.menu" id="product.menu_products_category">
        <field eval="[(6, 0, [ref('base.group_no_one')])]" name="groups_id"/>
    </record>


    <!--
        * Reorder Sale / Sale items
        * Disable Quotation
    -->
    <record model="ir.ui.menu" id="sale.menu_sale_order">
        <field name="sequence" eval="1" />
    </record>
    <record model="ir.ui.menu" id="base.menu_partner_form">
        <field name="sequence" eval="2" />
    </record>
    <record model="ir.ui.menu" id="sale.menu_sale_quotations">
        <field name="name">Quotations (Admin)</field>
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>

<!-- Customer Part refactoring -->
    <record model="ir.ui.menu" id="menu_res_partner_editable_view">
        <field name="name">Customers (Other Views)</field>
        <field name="sequence">2</field>
        <field name="parent_id" ref="base.menu_sales" />
    </record>

    <menuitem id="sale_eshop.menu_res_partner_3"
        name="Customers (eShop)"
        sequence="1"
        parent="menu_res_partner_editable_view"/>


<!-- CRM / Sale Menu -->
    <record model="ir.ui.menu" id="crm.menu_crm_leads">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_opportunities">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_case_phone">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="base.menu_crm_config_lead">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_lead_stage_act">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

<!-- CRM / Reporting Menu -->
    <record model="ir.ui.menu" id="crm.menu_report_crm_leads_tree">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_report_crm_opportunities_tree">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_report_crm_phonecalls_tree">
        <field name="groups_id" eval="[(6, 0, [ref('grap_change_access.group_crm_manager')])]"/>
    </record>


<!-- GRAP Menu -->
    <menuitem id="menu_grap_dashboard"
        name="Indicateurs"
        parent="grap_cooperative.menu_grap_root"
        sequence="0"
        groups="base.group_user"/>

    <menuitem id="web_dashboard_tile.mail_dashboard"
        name="Indicateurs Synthétiques"
        parent="menu_grap_dashboard"/>

<!-- Accounting Menu -->

    <!-- Disable default menu for account.move.line, because it is dummy -->
    <!-- Up to somes menu just for Account Manager -->

    <!-- Down to somes menu just for Invoice User -->

    <!-- reorder some items -->

    <record model="ir.ui.menu" id="account_voucher.menu_action_sale_receipt_report_all">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>


<!-- (Sale) Reporting Menu -->
    <record model="ir.ui.menu" id="sale.menu_report_product_all">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
    </record>


<!-- Point Of Sale Menu -->
    <record model="ir.ui.menu" id="point_of_sale.menu_point_config_product">
        <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]" />
    </record>

</data></openerp>
