<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2020 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>


<!-- ************************************************************ -->
<!-- Reorders Menu Items -->
<!-- ************************************************************ -->

    <!-- For all users -->
    <!-- Cooperative entry -->
    <menuitem id="grap_cooperative.menu_root" sequence="1"/>

    <!-- Global data (product, partner, ...) -->
    <menuitem id="grap_change_views_product.menu_root" sequence="10"/>
    <menuitem id="contacts.menu_contacts" sequence="11"/>

    <!-- Business entries -->
    <menuitem id="purchase.menu_purchase_root" sequence="20"/>
    <menuitem id="stock.menu_stock_root" sequence="21"/>
    <menuitem id="sale.sale_menu_root" sequence="22"/>
    <menuitem id="point_of_sale.menu_point_root" sequence="23"/>
    <menuitem id="account.menu_finance" sequence="24"/>
    <menuitem id="mobile_kiosk_abstract.menu_mobile_kiosk_main" sequence="25"/>
    <menuitem id="base.menu_board_root" sequence="26"/>

    <!-- For IT users -->
    <menuitem id="queue_job.menu_queue_job_root" sequence="100"/>
    <menuitem id="base.menu_management" sequence="101"/>
    <menuitem id="base.menu_administration" sequence="102"/>

    <!-- Unused in GRAP -->
    <menuitem id="mail.menu_root_discuss" sequence="200"/>
    <menuitem id="calendar.mail_menu_calendar" sequence="201"/>
    <menuitem id="utm.menu_link_tracker_root" sequence="202"/>
    <menuitem id="knowledge.menu_document_root" sequence="203"/>

</odoo>
